Test-Code/
Lecture-Code/
__pycache__
*.txt
*.zip
*icloud
*.b
*.pdf
*.docx
hw10_Fall_2020
HW-Code/bigdict.py
HW-Code/hw2_template.py
HW-Code/dict1.py
Lab-Code/dict.py
Lab-Code/hmmm-lab8/hmmmSimulator.py
Lab-Code/hmmm-lab8/hmmmDemo.py
Lab-Code/hmmm-lab8/hmmmAssembler.py
Lab-Code/hmmm-lab8/binary.py
Lab-Code/life_starter/csgrid.py
Lab-Code/life_starter/lifegraphics.py
Lab-Code/mandelbrot3/pngs/*
Lab-Code/mandelbrot3/cs5png.py
Lab-Code/mandelbrot3/png.py